# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
znote.md
.env

backend/.venv/
node_modules
node_modules/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*/__pycache__/
backend/workflow/__pycache__/
__pycache__/
backend/venv/
backend/.venv/
backend/.pytest_cache/
*.pyc
__pycache__/
